:root {
    --cor-do-fundo: #2c2f33;
    --cor-do-header: #99aab5;
    --cor-da-fonte: #ffffff;
    --cor-da-lista:	#7289da;
}

body {
    background-color: var(--cor-do-fundo);
    margin: 0;
}

header {
    background-color: var(--cor-do-header);
    color: var(--cor-da-fonte);
    padding: 40px;
    max-width: 100%;
    box-sizing: border-box;
}

main {
    background-color: var(--cor-do-header);
    display: inline;
    max-width: 100%;
    color: var(--cor-da-fonte);
}

li {
    text-decoration: none;
    list-style: none;
    background-color: var(--cor-da-lista);
    max-width: 50%;
    margin-bottom: 10px;
    font-size: 30px;
    padding: 25px 15px;
    text-align: center;
}

footer {
    background-color:var(--cor-do-header);
    color: var(--cor-da-fonte);
    bottom: 0;
    position: fixed;
    width: 100%; 
    padding: 20px;
}

footer h1 {
    float: left ;

}

.lista {
    display: block;
    float: left;
    width: 18%;
}

.texto {
    display: block;
    float: right;
    width: 82%;
    font-size: 22px;
}